@import '../variables.scss';
@import '../mixins.scss';

.contacts-controls {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &__search {
    width: 100%;
    max-width: 400px;
  }

  &__sorting {
    width: 100px;
  }
}