@import '../variables.scss';
@import '../mixins.scss';

.contact-form {
  &__item-wrapper {
    &--deletable {
      display: flex;
    }
  }

  &__item-delete-btn {
    flex-shrink: 0;
    margin-left: 8px;
  }

  &__main-btns {
    display: flex;
    flex-wrap: wrap;
  }

  &__submit-btn {
    margin-right: 10px;
  }
}