@import '../variables.scss';
@import '../mixins.scss';

.contacts-controls {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &__search {
    width: 100%;
    max-width: 400px;
  }

  &__sorting {
    display: flex;
    align-items: center;
  }

  &__sorting-label {
    margin-right: 6px;
  }

  &__sorting-select {
    width: 100px;
  }
}